*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
img{
    width: 20rem;
}
header{background-color: antiquewhite;}
nav{background-color: aqua;}
main{background-color: aquamarine;}
footer{background-color: blueviolet;}
footer img {
    width: 5rem;
}

header img{
    display: block;
    margin: 0 auto;
    padding: 1rem 0;
    width: 25rem;
    
}

/*nav bar==>START*/
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25%;
}

ul li{
    padding: 0.25rem;
    font-weight: bold;
}

.dropdown-Menu{
    display: none;
    position: absolute;
}
.dropdown-Menu a{
    text-decoration: none;
    color: black;
    font-weight: lighter;
    padding: 1em;
}
.dropdown-Menu a:hover{
    background-color: rgb(175, 174, 174);
}

.dropdown:hover .dropdown-Menu{
    display: flex;
    flex-direction: column;
    background-color: white;
}
/*nav bar==>END*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}